.header {
  max-width: 1120px;
  padding: 30px;
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
  cursor: pointer;
  /* 背景图片 */
  background: url(../images/to-start-1.png) repeat 100% / 100%;
  background-size: 100%;
}
.sub-header {
  max-width: 1120px;
  padding: 30px;
  font-size: 30px;
  margin: 0 auto;
}
.content {
  max-width: 1120px;
  padding: 30px;
  font-size: 26px;
  margin: 0 auto;
}
.detail {
  font-size: 18px;
}
.footer {
  max-width: 1120px;
  padding: 30px;
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
  cursor: pointer;
  background-color: black;
  color: white;
}

.textarea {
  max-width: 1120px;
  padding: 0 30px 30px;
  font-size: 28px;
  margin: 0 auto;
}

.textarea textarea {
  max-width: 1120px;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
  outline: none;
  color: white;
}
